Source: pxlib
Priority: optional
Maintainer: Uwe Steinmann <steinm@debian.org>
Build-Depends: debhelper (>> 4.0.0), intltool (>= 0.30), docbook-utils, docbook-to-man, libgsf-1-dev
Standards-Version: 3.6.1

Package: pxlib-dev
Section: libdevel
Architecture: any
Depends: pxlib1 (= ${Source-Version})
Description: library to read/write Paradox database files
 Library to read and write Paradox DB files. This package
 contains the development files.

Package: pxlib1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: library to read/write Paradox database files
 Library to read and write Paradox DB files. All versions
 of Paradox are supported. Binary large objects can only be
 read. Primary index files can be read and written.
